<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{emailer.title}} is buying</title>
    <style>
      /* Add your custom CSS styles here */ body { font-family: Arial,
      sans-serif; line-height: 1.6; } .container { max-width: 600px; margin: 0
      auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;
      background-color: #f9f9f9; } h1 { color: #333; } p { color: #555; }
      .button { display: inline-block; background-color: #007bff; color: #fff;
      text-decoration: none; padding: 10px 20px; border-radius: 4px; }
      .button:hover { background-color: #0056b3; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>{{emailer.title}}</h1>
      <p>{{emailer.description}}</p>
      <p>
        Dear
        {{emailer.sender}},We are incredibly grateful for your purchase and for
        choosing the Steam Marketplace for your gaming needs. We sincerely hope
        you thoroughly enjoy every moment in the captivating world of. Happy
        gaming, and have an unforgettable time exploring the wonders of the
        game! Best regards, SteamKeys Team
      </p>
    </div>
  </body>
</html>